@import 'global.css';

/* HEADER */
header {
    height: 538px;
    color: var(--white);

    background-image: url('../images/mobile/image-header.jpg');
    background-position: center;
    background-size: cover;

    text-align: center;
}

.header__top {
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;

    display: flex;
    justify-content: space-between;
}

.header__top__logo {
    transition: all 0.2s ease-in-out;
}

.header__top__menu {
    display: none;
}

.header__top__menu > * {
    cursor: pointer;
}

.header__top__menu__item {
    transition: all 0.2s ease-in-out;
}

.header__top__menu__contact {
    cursor: pointer;
    transition: color 0.2s ease-in-out,
                background-color 0.2s ease-in-out;
}

.header__top__burgerMenu {
    height: 18px;
}

.header__title {
    cursor: default;
    margin-top: 80px;
}

.header__arrow {
    padding-top: 48px;
    padding-bottom: 140px;
}

.header__mobileMenu {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%, 0%);

    display: none;
}

.header__mobileMenu__triangle {
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
}

.header__mobileMenu__triangle > * {
    width: 25px;
    height: 25px;
    background-color: var(--white);

    transform: skew(0deg, -45deg);

    position: relative;
    top: 18px;
    left: 0.5px;
}

.header__mobileMenu__content {
    width: 90vw;
    background-color: var(--white);
    padding: 40px;

    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.header__mobileMenu__content__item {
    color: var(--grey550);
}

.header__mobileMenu__content__ContactItem {
    padding: 15.5px 37.5px;
    
    background-color: var(--yellow500);
    border-radius: 28px;
}

/* EGG AND CUP SECTIONS */
.eggSection__image, .cupSection__image {
    width: 100%;
}

.eggSection__content, .cupSection__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    text-align: center;

    margin: 67.5px 24px;
}

.eggSection__content__title, .cupSection__content__title {
    color: var(--grey950);
}

.eggSection__content__text, .cupSection__content__text {
    color: var(--grey550);
}

.eggSection__content__learnMore, .cupSection__content__learnMore {
    color: var(--grey950);
    position: relative;
}

.eggSection__content__learnMore::before, .cupSection__content__learnMore::before {
    content: "";

    width: 137px;
    height: 10px;

    position: absolute;
    bottom: -1px;
    left: -4px;
    
    background-color: var(--yellow500);
    opacity: 0.25;
    z-index: -1;
}

.eggSection__content__learnMore::before {
    background-color: var(--yellow500);
}

.cupSection__content__learnMore::before {
    background-color: var(--red400);
}

/* FRUIT SECTION */
.fruitSection__cherries {
    width: 100%;
    height: 600px;
    
    background-image: url('../images/mobile/image-graphic-design.jpg');
    background-size: cover;
    background-position: center;
}

.fruitSection__orange {
    width: 100%;
    height: 600px;

    background-image: url('../images/mobile/image-photography.jpg');
    background-size: cover;
    background-position: center;
}

.fruit {
    padding: 396px 18px 56px 18px;
    text-align: center;
}

.fruit__title {
    color: var(--green800);
    margin-bottom: 32px;
}

.fruit__content {
    color: var(--green600);
}

/* SOCIAL PROOF SECTION */
.socialproofSection__wrapper {
    margin-top: 55px;
    margin-bottom: 55px;

    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 56px;
}

.socialproofSection__wrapper__title {
    color: var(--grey400);
}

.socialproofSection__wrapper__testimonials {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.testimonial {
    margin: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__image {
    width: 72px;
    height: 72px;

    background-position: center;
    background-size: cover;
    border-radius: 50%;

    margin-bottom: 58px;
}

.image__emily {
    background-image: url('../images/image-emily.jpg');
}

.image__thomas {
    background-image: url('../images/image-thomas.jpg');
}

.image__jennie {
    background-image: url('../images/image-jennie.jpg');
}

.testimonial__content {
    margin-bottom: 32px;
    color: var(--grey600);
}

.testimonial__userInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.testimonial__userInfo__name {
    color: var(--grey950);
}

.testimonial__userInfo__position {
    color: var(--grey400);
}

/* MISC SECTION */
.miscSection {
    display: grid;

    grid-template-columns: 1fr 1fr;

    width: 100%;
    height: 100vw;
}

.miscSection > div {
    background-position: center;
    background-size: 100%;
    transition: 0.2s;
}

.miscSection__milk {
    background-image: url('../images/mobile/image-gallery-milkbottles.jpg');
}

.miscSection__orange {
    background-image: url('../images/mobile/image-gallery-orange.jpg');
}

.miscSection__cone {
    background-image: url('../images/mobile/image-gallery-cone.jpg');
}

.miscSection__cubes {
    background-image: url('../images/mobile/image-gallery-sugar-cubes.jpg');
}

/* FOOTER */
footer {
    padding: 73.5px 38.5px;

    background-color: var(--green300);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    margin-bottom: 40px;
    height: 33px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    width: 100%;

    color: var(--green500);

    margin-bottom: 80px;
}

.footer__socialMedia {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

/** TABLET VERSION **/
@media(min-width: 600px) {

    /* HEADER */
    header {
        height: 800px;

        background-image: url('../images/desktop/image-header.jpg');
    }

    .header__top {
        padding-top: 48px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .header__top__logo {
        height: 33px;
    }

    .header__top__burgerMenu {
        height: 33px;
    }

    .header__title {
        /* tp1 */
        font-weight: 900;
        font-size: 56px;
        line-height: 125%;
        letter-spacing: 9px;

        padding-left: 15%;
        padding-right: 15%;
        margin-bottom: 72px;
    }

    /* EGG AND CUP SECTIONS */
    .eggSection__image {
        background-image: url('../images/desktop/image-transform.jpg');
    }

    .cupSection__image {
        background-image: url('../images/desktop/image-stand-out.jpg');
    }

    .eggSection__content, .cupSection__content {
        gap: 32px;
        margin: 67.5px 158.5px;
    }

    .eggSection__content__title, .cupSection__content__title {
        /* tp3 */
        font-weight: 900;
        font-size: 40px;
        line-height: 125%;
        letter-spacing: 0px;
    }

    .eggSection__content__text, .cupSection__content__text {
        color: var(--grey550);
    }

    .eggSection__content__learnMore, .cupSection__content__learnMore {
        color: var(--grey950);
        position: relative;
    }

    /* FRUIT SECTION */
    .fruitSection__cherries {
        background-image: url('../images/desktop/image-graphic-design.jpg');
    }

    .fruitSection__orange {
        background-image: url('../images/desktop/image-photography.jpg');
    }

    .fruit__content {
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 56px;
    }

    /* SOCIAL PROOF SECTION */
    .socialproofSection {
        margin-bottom: 71.5px;
    }

    .socialproofSection__wrapper {
        margin-top: 71.5px;
    }

    .socialproofSection__wrapper__title {
        margin-bottom: 24px;
    }

    .testimonial {
        margin-left: 84px;
        margin-right: 84px;
    }

    /* MISC SECTION */ 
    .miscSection__milk {
        background-image: url('../images/desktop/image-gallery-milkbottles.jpg');
    }

    .miscSection__orange {
        background-image: url('../images/desktop/image-gallery-orange.jpg');
    }

    .miscSection__cone {
        background-image: url('../images/desktop/image-gallery-cone.jpg');
    }

    .miscSection__cubes {
        background-image: url('../images/desktop/image-gallery-sugarcubes.jpg');
    }

    /* FOOTER */
    footer {
        padding-left: 30%;
        padding-right: 30%;
    }
}

@media (min-width: 1100px) {

    /* HEADER */ 
    .header__top {
        padding-top: 40px;

        align-items: center;
    }

    .header__title {
        margin-top: 96px;
        margin-bottom: 96px;
    }

    .header__top__burgerMenu {
        display: none;
    }

    .header__top__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }

    .header__top__menu .tp8 {
        color: var(--grey950);
        background-color: var(--white);
        padding: 15.5px 27.5px;
        border-radius: 28px;
    }

    /* EGG AND CUP SECTIONS */
    .eggSection, .cupSection {
        display: flex;
        flex-direction: row;
    }

    .cupSection {
        flex-direction: row-reverse;
    }

    .eggSection__image, .cupSection__image {
        width: 50%;
        height: 50vw;
        object-fit: cover;
    }

    .eggSection__content, .cupSection__content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 120px;
    }

    .eggSection__content__text, .cupSection__content__text {
        text-align: left;
    }

    .eggSection__content__learnMore, .cupSection__content__learnMore {
        width: 100%;
        text-align: left;
    }

    /* FRUIT SECTION */
    .fruitSection {
        display: flex;
    }

    /* SOCIAL PROOF SECTION */
    .socialproofSection__wrapper {
        margin-top: 162px;
        margin-bottom: 162px;
    }
    .socialproofSection__wrapper__testimonials {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 60px;
        margin: auto;
    }

    .testimonial {
        max-width: 350px;
        margin: 0px;
    }

    /* MISC SECTION */
    .miscSection {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 450px;
    }

    /* FOOTER */
    footer {
        padding-left: 0px;
        padding-right: 0px;
    }
    .footer__links {
        width: 300px !important;
    }
}

/** ANIMATIONS AND EFFECTS */
/* Header animations */
.header__top__logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header__top__menu__item:hover {
    transform: scale(1.1);
    font-weight: 700;
}

.header__top__menu__contact:hover {
    color: var(--white);
    background-color: #77cdf5;
}


/* Misc animations */
.miscSection > *:hover {
    background-size: 110% auto;
}
