@import 'global.css';

/* HEADER */
header {
    height: 538px;
    color: var(--white);

    background-image: url('../images/mobile/image-header.jpg');
    background-position: center;
    background-size: cover;

    text-align: center;
}

.header__top {
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;

    display: flex;
    justify-content: space-between;
}

.header__top__burgerMenu {
    height: 18px;
}

.header__title {
    margin-top: 80px;
}

.header__arrow {
    padding-top: 48px;
    padding-bottom: 140px;
}

/* EGG SECTION */
.eggSection__image {
    width: 100%;
}

.eggSection__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    text-align: center;

    margin: 67.5px 24px;
}

.eggSection__content__title {
    color: var(--grey950);
}

.eggSection__content__text {
    color: var(--grey550);
}

.eggSection__content__learnMore {
    color: var(--grey950);
    position: relative;
}

.eggSection__content__learnMore::before {
    content: "";

    width: 137px;
    height: 10px;

    position: absolute;
    bottom: -1px;
    left: -4px;
    
    background-color: var(--yellow500);
    opacity: 0.25;
    z-index: -1;
}