@import 'global.css';

/* HEADER */
header {
    height: 538px;

    background-image: url('../images/mobile/image-header.jpg');
    background-position: center;
    background-size: cover;

    text-align: center;
}

.header__top {
    border: solid purple 1px;

    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;

    display: flex;
    justify-content: space-between;
}

.header__top__burgerMenu {
    height: 18px;
}